@import 'fonts';
// TItle
.title{
    margin-top: 300px;
    text-align: center;
}
// For username
.username{
    font-size: 20px;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
// For password
.password{
    font-size: 20px;
    top: 48%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}
// Login button
.login-button{
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    width: 18%;
    top: 51%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
// For sign up button
.button-sign{
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    width: 18%;
    top: 54%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
} 