*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// For title
.title-home{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    margin: 5px;
    top: 20%;
}
// Images
// Img big
.big{
    position: absolute;
    float: left;
    top: 20%;
    left: 10%;
}
.img-big-inside{
    margin-left: 10px;
}